/* Common Settings*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: black;
}

body {
    padding-top: 40px;
    width: 95%;
    margin: 0 auto;
    box-sizing: 30px;
    background-repeat: repeat-x;
    /* min-height: 1000px; */
    background: url(../images/sponsors.png);
}

header {
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(0,0,0,1) 100%);
    background-repeat: repeat-x;
    height:200px;
    background-size: 100% 100%;
    padding:0;
    margin:0;
    text-align: center;
}

header>img{
    margin-top: 1%;
    height: 170px;
}


article{
    background-color: white;
    width: 100%;
    padding-top: 0px;
}

div>img{
    height: 100%;
    object-fit: cover;
}


div>img:hover{
    width: 100%;
    height: 100%;
    border-radius: 4%;
    object-fit: cover;
    opacity: 0.8;
}

footer{
    clear: both;
    color: white;
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(0,0,0,1) 100%);
}

section{
    width: 45%;
}

section>p{
    font-size: 1.5em;
    padding: 1%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1{
    font-size: 2em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/*Navigation Settings*/

nav {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
    min-height: 30px;

}
div.nav {
    display: block;
    color: #050d18ff;
    background-color: white;
    text-align: center;
    border-bottom: 1px solid #050d18ff;
    border-right: 1px solid #050d18ff;
    line-height: 2em;
    min-height: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a{
    color: #050d18ff;
    font-size: 1.5em;
    display: block;
    font-style: normal;
    height: 50px;
    text-decoration: none;
}

div.nav:hover {
    display: block;
    background-color: rgba(63,94,251,1);
    color: white;
    border-left: 3px solid #050d18ff;
    border-top: 3px solid #050d18ff;
    border-right: 3px solid;  
    text-decoration: none;
}

a:hover{
    display: block;
    color: white;
    font-size: 1.5em;
}

div#one, div#two{
    flex: 1 1 100%;

}

div#three, div#four{
    flex: 1 1 100%;
}


@media only screen and (min-width: 768px){
    div#one, div#two{
        flex-basis: 25%;
    }

    div#three, div#four{
        flex-basis: 25%;
    }
}



/* Page 1 Settings */

article#index>figure{
    width: 95%;
}

article#index>section{
    width: 95%;
    font-size: 1em;
    margin: 1%;
}

video#video{
    margin: auto;
    width: 60%;
    border: 4px solid rgba(63,94,251,1);
}

figure#teamPhoto{
    float:left;
    margin: 1%;
    padding: 1%;
    width: 50%;
}

figure>img{
    width: 100%;
}


@media only screen and (min-width: 1024px){
    article#index{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    article#index>figure{
        width: 40%;
    }

    article#index>section{
        width: 40%;
        font-size: 1.1em;
        margin: 1%;
    }
}

/*Page 2 Settings */

article#news{
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
}

h1.pageBanner{
    flex: 1 1 95%;
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(0,0,0,1) 100%);
    color: white;
    padding: 1%;
    font-size: 1.5em;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

section#main{
    flex: 1 1 95%;
    width: 95%;
    margin: auto;
    text-align: center;
}

section#main>form{
    margin: 1%;
    font-size: 1.1em;
    text-align: center;
}

section#main>form>*{
    font-size: 1.1em;
}


section#news{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-evenly;
    padding: 2%;
    width: 95%;
    margin: auto;
}


section>div.newsDiv{
    width: 150px;
    height: 150px;
    border: 1px solid black;
    margin: 10px;
    border-radius: 10%;
    flex: 1 1 30%;
}

section>div.newsDiv:hover{
    width: 150px;
    height: 150px;
    border: 8px solid mediumseagreen;
    margin: 10px;
    border-radius: 10%;
}

section#newsPage{
    flex: 1 1 40%;
}

section#newsPage>div{
    width: 95%;
    height: 500px;
    border: 0px solid 1px;
    border-radius: 2%;
}

label#news{
    margin: 1%;
    font-size: 1.3em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

div#newOutDiv{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

div#newOutDiv>img{
    width: 80%;
    height: 80%;
    object-fit: contain;
    /* border: 0px solid white; */
}

div#newOutDiv>*{
    font-size: 1.5em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



@media only screen and (min-width: 1024px){
    section#main{
        flex: 1 1 45%;
    }

    article#index>section{
        width: 45%;
        font-size: 1.1em;
        margin: 1%;
    }

    section>div.newsDiv{
        width: 300px;
        height: 300px;
        border: 1px solid black;
        margin: 10px;
        border-radius: 10%;
        flex: 1 1 30%;
    }
    
       
    section>div.newsDiv:hover{
        width: 300px;
        height: 300px;
        border: 8px solid mediumseagreen;
        margin: 10px;
        border-radius: 10%;
    }
}

/*Page 3 Settings*/

main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

section#left{
    flex: 1 1 95%;
    border-right: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

section#left>h1{
    flex: 1 1 95%;
}

section#right{
    flex: 1 1 50%;
    justify-content: space-between;   
}


section#left>div{
    margin-top: 2%;
    border-radius: 50%;
    border: 5px solid black;
    width: 120px;
    height: 120px;

}

section#left>div:hover{
    margin-top: 2%;
    border-radius: 50%;
    border: 5px solid mediumseagreen;
    width: 120px;
    height: 120px;
}

section#left>div>img{
    border-radius: 50%;
    filter: blur(3px);
    -webkit-filter: blur(3px);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

section#left>h1{
    margin: 1%;
}

div#teamBox{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: auto;
    margin-top: 2%;
    background-color: rgb(59, 72, 134);
    color: white;
    min-height: 300px;
    width: 70%;
    padding: 2%;
    border-radius: 15%;
    border: 5px solid grey;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}


img#playerPhoto{
    width: 50%;
    border-radius: 60%;
    height: 50%;
    height: 50%;
    border: 4px solid white;
}

span#playerInfo{
    flex: 1 1 40%;
    margin: 2%;
}

span#playerInfo>*{
    flex: 1 1 90%;
    font-size: 1em;
    border: 1px white solid;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

div#rateBox{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: auto;
    margin-top: 2%;
    color: rgb(59, 72, 134);
    width: 70%;
    min-height: 200px;
    padding: 2%;
    border: 5px solid grey;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

div#rateBox>h1{
    margin: 1px;
    flex: 1 1 95%;
    font-size: 1em;
}

div#rateBox>img{
    margin: 1px;
    flex: 1 1 50px;
    height: 95%;
}

input#rateBox{
    flex: 1 1 95%;    
}

@media only screen and (min-width: 1024px){

    section#left{
        flex: 1 1 25%;
        border-right: 1px solid black;
        display:unset;
    }
    section#left>div{
        margin: auto;
        margin-top: 2%;
        width: 250px;
        height: 250px;
        border-radius: 50%;
        border: 5px solid black;

    }

    section#left>div:hover{
        margin: auto;
        margin-top: 2%;
        width: 250px;
        height: 250px;
        border-radius: 50%;
        border: 5px solid rgb(59, 72, 134);
    }

    section#left>div>img{
        margin: auto;
        width: 95%;
        height: 95%;
        border-radius: 50%;
        filter: blur(3px);
        -webkit-filter: blur(3px);
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    }

    div#teamBox{
        width: 80%;
    }

    
    div#teamBox>img{
        width: 30%;
        height: 250px;
    }

    div#rateBox{
        width: 80%;
        font-size: 1.3em;
    }
    
}

/*Page 4 Settings*/

form#candidateForm{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

fieldset#left{
    margin: 1%;
    padding: 1%;
    flex: 1 1 90%;
    display: flex;
    flex-flow: column;
}

fieldset#right{
    margin: 1%;
    padding: 1%;
    flex: 1 1 90%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

legend{
    font-size: 1.3em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(59, 72, 134);
    color: white;
    border-radius: 15%;
    padding: 1%;   
}


fieldset#left>input{
    height: 40px;
}

fieldset#left>*{
    font-size: 1em;
    height: 40px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

article#joinUs>h2{
    margin: 1%;
    font-size: 2em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

input[type="radio"]{    
    flex: 1 1 50px;
    transform:scale(1.5);
    font-size: 2em;
}

span.candidate>*{
    margin: 1%;
}

div#playerCard{
    border-radius: 5%;
    padding: 2%;
    border: 8px solid;
    min-height: 300px;
    flex: 1 1 95%;

}

div#playerCard{
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 80px);
}
input[type="submit"]{
    flex: 1 1 95%;
    height: 40px;
    font-size: 1.3em;
}

p#candidateEmj{
    margin: auto;
    grid-row: 1/ span 4;
    border-radius: 0px;
    font-size: 75pt;
    border: 0px solid;
}

div#playerCard>*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: darkgrey;
}

p.candidateFeatures{
    border: 1px solid black;
    font-size: 1em;
    width: 60%;
}

@media only screen and (min-width: 1200px){

    div#playerCard{
            margin: auto;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: repeat(4, 80px);
    }

    fieldset#right{
        margin: 1%;
        padding: 1%;
        flex: 1 1 45%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    fieldset#left{
        font-size: 1.3em;
        margin: 1%;
        padding: 1%;
        flex: 1 1 45%;
        display: flex;
        flex-flow: column;
    }
    p.candidateFeatures{
        border: 1px solid black;
        font-size: 1em;
        width: 90%;
    }

    p#candidateEmj{
        margin: auto;
        grid-row: 1/ span 4;
        border-radius: 0px;
        font-size: 100pt;
        border: 0px solid;
    }
}
